.form-container {
  width: 100%;
  height: 100%;
  padding: 60px;
  box-sizing: border-box;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

h2 {
  font-size: 32px;
  font-weight: 400;
  color: #686868;
}

input {
  width: 100%;
  padding: 10px 0;
  border: none;
  border-bottom: 2px solid #686868;
  color: #686868;
  font-size: 16px;
  outline: none;
}

.submit-btn {
  width: 30%;
  padding: 10px;
  background: #ff6600;
  color: #fff;
  border: none;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

.submit-btn:hover {
  background: #e55b00;
}

.submit-btn:focus {
  background: #e55c00c2;
}

