<div class="form-container">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <h2 class="title-register">Registrarse</h2>

    <app-form-input
      [type]="'text'"
      [placeholder]="'Nombre completo'"
      [value]="registerForm.get('name')?.value"
      (valueChange)="registerForm.get('name')?.setValue($event)">
    </app-form-input>

    <app-form-input
      [type]="'email'"
      [placeholder]="'Correo electrónico'"
      [value]="registerForm.get('email')?.value"
      (valueChange)="registerForm.get('email')?.setValue($event)">
    </app-form-input>

    <app-form-input
      [type]="'password'"
      [placeholder]="'Contraseña'"
      [value]="registerForm.get('password')?.value"
      (valueChange)="registerForm.get('password')?.setValue($event)">
    </app-form-input>

    <app-form-input
      [type]="'password'"
      [placeholder]="'Confirmar contraseña'"
      [value]="registerForm.get('confirmPassword')?.value"
      (valueChange)="registerForm.get('confirmPassword')?.setValue($event)">
    </app-form-input>

    <app-submit-button-register (submitForm)="onSubmit()"></app-submit-button-register>
  </form>
</div>
