<div class="form-container">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <h2 class="title-register">{{ 'register.register-title' | translate:translateService.lang }}</h2>

    <app-form-input
      [type]="'text'"
      [placeholder]="'register.name-placeholder' | translate:translateService.lang"
      [value]="registerForm.get('name')?.value"
      (valueChange)="registerForm.get('name')?.setValue($event)">
    </app-form-input>

    <app-form-input
      [type]="'email'"
      [placeholder]="'register.email-placeholder' | translate:translateService.lang"
      [value]="registerForm.get('email')?.value"
      (valueChange)="registerForm.get('email')?.setValue($event)">
    </app-form-input>

    <app-form-input
      [type]="'password'"
      [placeholder]="'register.password-placeholder' | translate:translateService.lang"
      [value]="registerForm.get('password')?.value"
      (valueChange)="registerForm.get('password')?.setValue($event)">
    </app-form-input>

    <app-form-input
      [type]="'password'"
      [placeholder]="'register.confirm-password-placeholder' | translate:translateService.lang"
      [value]="registerForm.get('confirmPassword')?.value"
      (valueChange)="registerForm.get('confirmPassword')?.setValue($event)">
    </app-form-input>

    <app-submit-button-register (submitForm)="onSubmit()"></app-submit-button-register>
  </form>
</div>
