@import '../../styles/variables';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $container-width;
  height: 100vh;
  margin: 0;
  background: $color-light-gray;
}

.auth {
  background: $color-white;
  width: 70%;
  height: 80%;
  box-shadow: $box-shadow;
  display: flex;
  position: relative;
}

app-register,
app-login {
  flex: 1;
}

app-language-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
}
