.submit-btn {
  width: 30%;
  padding: 10px;
  background: #ff6600;
  color: #fff;
  border: none;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

.submit-btn:hover {
  background: #e55b00;
}

.submit-btn:focus {
  background: #e55c00c2;
}
