.container {
  width: 100%;
  height: 100%;
  padding: 60px;
  box-sizing: border-box;
  background: linear-gradient(to bottom, #1abc9c, #16a085);
}

.login-container {
  height: 90%;
  padding-top: 50px;
  padding-bottom: 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.login-tittle {
  font-size: 32px;
  font-weight: 400;
  color: #fff;
}




