<div class="container">
  <h2>Iniciar Sesión</h2>
  <div class="login-container">
    <button class="login-btn facebook">
      <img src="facebook.svg" alt="Facebook" class="login-icon">
      Acceder con Facebook
    </button>
    <button class="login-btn twitter">
      <img src="twitter.svg" alt="Twitter" class="login-icon">
      Acceder con Twitter
    </button>
    <button class="login-btn email">
      <img src="email.svg" alt="Correo" class="login-icon">
      Acceder con Correo
    </button>
  </div>
</div>
