@import '../../../styles/variables';

.submit-btn {
  width: $submit-button-width;
  padding: $padding-small;
  background: $color-submit;
  color: $color-white;
  border: none;
  font-size: $font-size-default;
  font-weight: $font-weight-normal;
  cursor: pointer;
}

.submit-btn:hover {
  background: $color-submit-hover;
}

.submit-btn:focus {
  background: rgba($color-submit, 0.75);
}
